<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.xinghe.mapper.MybatisTestMapper">
  <resultMap id="baseResult" type="org.apache.ibatis.xinghe.entity.MybatisTest">
    <id property="id" column="id"/>
    <result property="testId" column="test_id"/>
    <result property="data" column="data"/>
    <result property="deleted" column="deleted"/>
    <result property="gmtCreate" column="gmt_create"/>
    <result property="gmtUpdate" column="gmt_update"/>
  </resultMap>


  <select id="getById" resultMap="baseResult">
    select * from mybatis_test where deleted = 0 and id = #{id}
  </select>


</mapper>